## Chapter 10 Practice Samantha Cress

## 10.2.1 Test-Driving Class Account
Each new class you create becomes a new data type that can be used to create objects. This is one reason why Python is said to be an extensible language Before we look at class Account’s definition, let’s demonstrate its capabilities.

Importing Classes Account and Decimal
To use the new Account class, launch your IPython session from the ch10 examples folder, then import class Account:

In [1]:
from account import Account

Class Account maintains and manipulates the account balance as a Decimal, so we also import class Decimal:

In [2]:
from decimal import Decimal

Create an Account Object with a Constructor Expression
To create a Decimal object, we can write:

In [3]:
value = Decimal('12.34')

This is known as a constructor expression because it builds and initializes an object of the class

Let’s use a constructor expression to create an Account object and initialize it with an account holder’s name (a string) and balance (a Decimal):

In [4]:
account1 = Account('John Green', Decimal('50.00'))

Getting an Account’s Name and Balance
Let’s access the Account object’s name and balance attributes:

In [5]:
account1.name

'John Green'

In [6]:
account1.balance

Decimal('50.00')

Depositing Money into an Account 
An Account’s deposit method receives a positive dollar amount and adds it to the balance:

In [7]:
account1.deposit(Decimal('25.53'))

In [8]:
account1.balance

Decimal('75.53')

Account Methods Perform Validation
Class Account’s methods validate their arguments. For example, if a deposit amount is negative, deposit raises a ValueError

Account?

Init signature: Account(name, balance)
Docstring:      Account class for maintaining a bank account balance.
Init docstring: Initialize an Account object.
File:           c:\users\samcr\onedrive\documents\44-608\608-mod7\account.py
Type:           type
Subclasses:

Self Check

In [9]:
def withdraw(self, amount):
    """Withdraw money from the account."""

    # if amount is greater than balance, raise an exception
    if amount > self.balance:
       raise ValueError('amount must be <= to balance.')
    elif amount < Decimal('0.00'):
       raise ValueError('amount must be positive.')

    self.balance -= amount

In [10]:
from account import Account

In [11]:
from decimal import Decimal

In [12]:
account1 = Account('John Green', Decimal('50.00'))

In [13]:
account1.balance

Decimal('50.00')

## 10.3 Controlling Access to Attributes

In [14]:
from account import Account

In [15]:
from decimal import Decimal

In [16]:
account1 = Account('John Green', Decimal('50.00'))

In [17]:
account1.balance

Decimal('50.00')

Initially, account1 contains a valid balance. Now, let’s set the balance attribute to an invalid negative value, then display the balance:

In [18]:
account1.balance = Decimal('-1000.00')

In [19]:
account1.balance

Decimal('-1000.00')

## 10.4 Properties for Data Access

10.4.1 Test-Driving Class Time

In [20]:
from timewithproperties import Time

In [21]:
wake_up = Time(hour=6, minute=30)

In [22]:
wake_up

Time(hour=6, minute=30, second=0)

In [23]:
print(wake_up)

6:30:00 AM

In [24]:
wake_up.hour

6

In [25]:
wake_up.set_time(hour=7, minute=45)

In [26]:
 wake_up

Time(hour=7, minute=45, second=0)

In [27]:
wake_up.hour = 6

In [28]:
wake_up

Time(hour=6, minute=45, second=0)

10.4.2 Class Time Definition

In [29]:
def __init__(self, hour=0, minute=0, second=0):
        """Initialize each attribute."""
        self.hour = hour  # 0-23
        self.minute = minute  # 0-59
        self.second = second  # 0-59

@property
def hour(self):
        """Return the hour."""
        return self._hour

@hour.setter
def hour(self, hour):
        """Set the hour."""
        if not (0 <= hour < 24):
            raise ValueError(f'Hour ({hour}) must be 0-23')

        self._hour = hour

@property
def minute(self):
        """Return the minute."""
        return self._minute

@minute.setter
def minute(self, minute):
        """Set the minute."""
        if not (0 <= minute < 60):
            raise ValueError(f'Minute ({minute}) must be 0-59')

        self._minute = minute

@property
def second(self):
        """Return the second."""
        return self._second

@second.setter
def second(self, second):
        """Set the second."""
        if not (0 <= second < 60):
            raise ValueError(f'Second ({second}) must be 0-59')

        self._second = second

def set_time(self, hour=0, minute=0, second=0):
        """Set values of hour, minute, and second."""
        self.hour = hour
        self.minute = minute
        self.second = second

def __repr__(self):
        """Return Time string for repr()."""
        return (f'Time(hour={self.hour}, minute={self.minute}, ' + 
                f'second={self.second})')

def __str__(self):
        """Return Time string in 12-hour clock format."""
        return (('12' if self.hour in (0, 12) else str(self.hour % 12)) + 
                f':{self.minute:0>2}:{self.second:0>2}' + 
                (' AM' if self.hour < 12 else ' PM'))

In [30]:
wake_up.hour

6

In [31]:
wake_up.hour = 8

Self Check

In [32]:
@property
def time(self):
    """Return hour, minute and second as a tuple."""
    return (self.hour, self.minute, self.second)

In [33]:
@time.setter
def time(self, time_tuple):
    """Set time from a tuple containing hour, minute and second."""
    self.set_time(time_tuple[0], time_tuple[1], time_tuple[2])

In [34]:
from timewithproperties import Time

In [35]:
t = Time()

In [36]:
t

Time(hour=0, minute=0, second=0)

In [37]:
t.time = (12, 30, 45)

In [38]:
t.time

(12, 30, 45)

## 10.4.3 Class Time Definition Design Notes

In [39]:
from timewithproperties import Time

In [40]:
wake_up = Time(hour=7, minute=45, second=30)

In [41]:
wake_up._hour

7

In [42]:
wake_up._hour = 100

In [43]:
wake_up

Time(hour=100, minute=45, second=30)

## 10.5 Simulating “Private” Attributes

In [44]:
wake_up._hour = 100

In [45]:
wake_up

Time(hour=100, minute=45, second=30)

In [46]:
from private import PrivateClass

In [47]:
my_object = PrivateClass()

In [48]:
my_object.public_data

'public'

## 10.6 Case Study: Card Shuffling and Dealing Simulation

In [49]:
from deck import DeckOfCards

In [50]:
deck_of_cards = DeckOfCards()

In [51]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [52]:
deck_of_cards.shuffle()

In [53]:
print(deck_of_cards)

Jack of Clubs      2 of Diamonds      Jack of Hearts     5 of Spades
6 of Spades        Queen of Clubs     9 of Clubs         8 of Hearts
9 of Spades        King of Hearts     8 of Diamonds      6 of Diamonds
5 of Clubs         4 of Clubs         6 of Hearts        8 of Clubs
2 of Clubs         7 of Clubs         Queen of Spades    Ace of Spades
Queen of Hearts    4 of Hearts        8 of Spades        9 of Hearts
King of Clubs      3 of Diamonds      King of Diamonds   Ace of Diamonds
Ace of Hearts      10 of Diamonds     10 of Clubs        Ace of Clubs
King of Spades     5 of Hearts        5 of Diamonds      9 of Diamonds
10 of Spades       4 of Diamonds      7 of Spades        4 of Spades
Queen of Diamonds  7 of Diamonds      10 of Hearts       3 of Clubs
2 of Hearts        7 of Hearts        Jack of Diamonds   3 of Hearts
2 of Spades        6 of Clubs         Jack of Spades     3 of Spades

In [54]:
deck_of_cards.deal_card()

Card(face='Jack', suit='Clubs')

In [55]:
card = deck_of_cards.deal_card()

In [56]:
str(card)

'2 of Diamonds'

In [57]:
card.image_name

'2_of_Diamonds.png'

In [58]:
from deck import DeckOfCards

In [59]:
deck_of_cards = DeckOfCards()

In [60]:
%matplotlib

Using matplotlib backend: <object object at 0x00000183B1D4A750>

In [61]:
from pathlib import Path

In [62]:
path = Path('.').joinpath('card_images')

In [63]:
import matplotlib.pyplot as plt

In [64]:
import matplotlib.image as mpimg

In [65]:
figure, axes_list = plt.subplots(nrows=4, ncols=13)

## 10.7 Inheritance: Base Classes and Subclasses

Often, an object of one class is an object of another class as well. For example, a CarLoan is a Loan as are HomeImprovementLoans and MortgageLoans. Class CarLoan can be said to inherit from class Loan. In this context, class Loan is a base class, and class CarLoan is a subclass. A CarLoan is a specific type of Loan, but it’s incorrect to claim that every Loan is a CarLoan—the Loan could be any type of loan. The following table lists several simple examples of base classes and subclasses—base classes tend to be “more general” and subclasses “more specific”

## 10.8 Building an Inheritance Hierarchy; Introducing Polymorphism

In [66]:
from commissionemployee import CommissionEmployee

In [67]:
from decimal import Decimal

In [68]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333',
   ...:     Decimal('10000.00'), Decimal('0.06'))

In [69]:
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [70]:
print(f'{c.earnings():,.2f}')

600.00

In [71]:
c.gross_sales = Decimal('20000.00')

In [72]:
c.commission_rate = Decimal('0.1')

In [73]:
print(f'{c.earnings():,.2f}')

2,000.00

In [74]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [75]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
    ...:         Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [76]:
print(s.first_name, s.last_name, s.ssn, s.gross_sales,
    ...:       s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [77]:
print(f'{s.earnings():,.2f}')

500.00

In [78]:
s.gross_sales = Decimal('10000.00')

In [79]:
s.base_salary = Decimal('1000.00')

In [80]:
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.04
base salary: 1000.00

In [81]:
print(f'{s.earnings():,.2f}')

1,400.00

In [82]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [83]:
isinstance(s, CommissionEmployee)

True

In [84]:
isinstance(s, SalariedCommissionEmployee)

True

## 10.8.3 Processing CommissionEmployees and SalariedCommissionEmployees Polymorphically

In [85]:
employees = [c, s]

In [86]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.04
base salary: 1000.00
1,400.00

## 10.9 Duck Typing and Polymorphism

In [87]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.04
base salary: 1000.00
1,400.00

In [88]:
class WellPaidDuck:
   ...:     def __repr__(self):
   ...:         return 'I am a well-paid duck'
   ...:     def earnings(self):
   ...:         return Decimal('1_000_000.00')

In [89]:
from decimal import Decimal

In [90]:
from commissionemployee import CommissionEmployee

In [91]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [92]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333',
   ...:                        Decimal('10000.00'), Decimal('0.06'))

In [93]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
   ...:     Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [94]:
 d = WellPaidDuck()

In [95]:
 employees = [c, s, d]

In [96]:
for employee in employees:
   ...:     print(employee)
   ...:     print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

I am a well-paid duck
1,000,000.00

## 10.10 Operator Overloading

In [97]:
from complexnumber import Complex

In [98]:
x = Complex(real=2, imaginary=4)

In [99]:
x

(2 + 4i)

In [100]:
y = Complex(real=5, imaginary=-1)

In [101]:
y

(5 - 1i)

In [102]:
x + y

(7 + 3i)

In [103]:
x

(2 + 4i)

In [104]:
y

(5 - 1i)

In [105]:
x += y

In [106]:
x

(7 + 3i)

In [107]:
y

(5 - 1i)

In [108]:
   def __sub__(self, right):
       """Overrides the - operator."""
       return Complex(self.real - right.real,
                      self.imaginary - right.imaginary)

   def __isub__(self, right):
       """Overrides the -= operator."""
       self.real -= right.real
       self.imaginary -= right.imaginary
       return self

In [109]:
from complexnumber2 import Complex

In [110]:
 x = Complex(real=2, imaginary=4)

In [111]:
 y = Complex(real=5, imaginary=-1)

In [112]:
x - y

(-3 + 5i)

In [113]:
x -= y

In [114]:
x

(-3 + 5i)

In [115]:
y

(5 - 1i)

## 10.11 Exception Class Hierarchy and Custom Exceptions
In the previous chapter, we introduced exception handling. Every exception is an object of a class in Python’s exception class hierarchy11 or an object of a class that inherits from one of those classes. Exception classes inherit directly or indirectly from base class BaseException and are defined in module exceptions

## 10.12 Named Tuples

In [116]:
from collections import namedtuple

In [117]:
Card = namedtuple('Card', ['face', 'suit'])

In [118]:
card = Card(face='Ace', suit='Spades')

In [119]:
card.face

'Ace'

In [120]:
card.suit

'Spades'

In [121]:
card

Card(face='Ace', suit='Spades')

In [122]:
values = ['Queen', 'Hearts']

In [123]:
card = Card._make(values)

In [124]:
card

Card(face='Queen', suit='Hearts')

In [125]:
card._asdict()

{'face': 'Queen', 'suit': 'Hearts'}

In [126]:
Time = namedtuple('Time', ['hour', 'minute', 'second'])

In [127]:
t = Time(13, 30, 45)

In [128]:
print(t.hour, t.minute, t.second)

13 30 45

In [129]:
t

Time(hour=13, minute=30, second=45)

## 10.13 A Brief Intro to Python 3.7’s New Data Classes

In [130]:
from carddataclass import Card

In [131]:
c1 = Card(Card.FACES[0], Card.SUITS[3])

In [132]:
c1

Card(face='Ace', suit='Spades')

In [133]:
print(c1)

Ace of Spades

In [134]:
c1.face

'Ace'

In [135]:
c1.suit

'Spades'

In [136]:
c1.image_name

'Ace_of_Spades.png'

In [137]:
c2 = Card(Card.FACES[0], Card.SUITS[3])

In [138]:
c2

Card(face='Ace', suit='Spades')

In [139]:
 c3 = Card(Card.FACES[0], Card.SUITS[0])

In [140]:
c3

Card(face='Ace', suit='Hearts')

In [141]:
c1 == c2

True

In [142]:
c1 == c3

False

In [143]:
c1 != c3

True

In [144]:
from deck2 import DeckOfCards # uses Card data class

In [145]:
deck_of_cards = DeckOfCards()

In [146]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [147]:
from carddataclass import Card

In [148]:
c = Card('Ace', 'Spades')

In [149]:
c

Card(face='Ace', suit='Spades')

In [150]:
 type(c.face)

str

In [151]:
c.face = 100

In [152]:
c

Card(face=100, suit='Spades')

In [153]:
type(c.face)

int

## 10.14 Unit Testing with Docstrings and doctest

Run the file accountdoctest.py as a script to execute the tests. By default, if you call testmod with no arguments, it does not show test results for successful tests. In that case, if you get no output, all the tests executed successfully. In this example, line 42 calls testmod with the keyword argument verbose=True. This tells testmod to produce verbose output showing every test’s results ## I ran this ipython

Trying:
    account1 = Account('John Green', Decimal('50.00'))
Expecting nothing
ok
Trying:
    account1.name
Expecting:
    'John Green'
ok
Trying:
    account1.balance
Expecting:
    Decimal('50.00')
ok
Trying:
    account2 = Account('John Green', Decimal('-50.00'))
Expecting:
    Traceback (most recent call last):
        ...
    ValueError: Initial balance must be >= to 0.00.
ok
3 items had no tests:
    __main__
    __main__.Account
    __main__.Account.deposit
1 items passed all tests:
    4 tests in __main__.Account.__init__
4 tests in 4 items.
4 passed and 0 failed.
Test passed.

## 10.15 Namespaces and Scopes

In [154]:
z = 'global z'

In [155]:
def print_variables():
   ...:     y = 'local y in print_variables'
   ...:     print(y)
   ...:     print(z)

In [156]:
print_variables()

local y in print_variables
global z

Samantha Cress